body{
    background-image: url("/static/main/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 11px;
}

#nav-bar{
    height: 30px;
    padding: 0px;
    background: linear-gradient(rgb(31, 47, 134) 0px, rgb(49, 101, 196) 3%, rgb(54, 130, 229) 6%, rgb(68, 144, 230) 10%, rgb(56, 131, 229) 12%, rgb(43, 113, 224) 15%, rgb(38, 99, 218) 18%, rgb(35, 91, 214) 20%, rgb(34, 88, 213) 23%, rgb(33, 87, 214) 38%, rgb(36, 93, 219) 54%, rgb(37, 98, 223) 86%, rgb(36, 95, 220) 89%, rgb(33, 88, 212) 92%, rgb(29, 78, 192) 95%, rgb(25, 65, 165) 98%)
    
}
#start-button{
    margin: 0px;
    height: 100%;
    width: 100px;
    background-image: url('start_btn_inactive.png');
    background-size: cover;
    background-color: transparent;
    border: none;
    cursor: initial;
}


#start-button:hover{
    margin: 0px;
    height: 100%;
    width: 100px;
    background-image: url('start_btn_hover.png');
    background-size: cover;
    background-color: transparent;
    border: none;
    cursor: initial;
}


#start-button:active{
    margin: 0px;
    height: 100%;
    width: 100px;
    background-image: url('start_btn_active.png');
    background-size: cover;
    background-color: transparent;
    border: none;
}




#start-button>img{
    width: 20px;
}

#start-menu{
    position:absolute;
    left: 0%;
    bottom: 30px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(24, 104, 206);
    font-size: 11px;
    box-shadow:2px 4px 2px;

}
#start-menu-footer{
    background: linear-gradient(rgb(66, 130, 214) 0%, rgb(59, 133, 224) 3%, rgb(65, 138, 227) 5%, rgb(65, 138, 227) 17%, rgb(60, 135, 226) 21%, rgb(55, 134, 228) 26%, rgb(52, 130, 227) 29%, rgb(46, 126, 225) 39%, rgb(35, 116, 223) 49%, rgb(32, 114, 219) 57%, rgb(25, 110, 219) 62%, rgb(23, 107, 216) 72%, rgb(20, 104, 213) 75%, rgb(17, 101, 210) 83%, rgb(15, 97, 203) 88%);
    color: white;
    height: 36px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 10px;
    font-size: 11px;
    line-height: 14px;
    font-weight: 500;

}

#start-menu-header{
    background-color: rgb(66, 130, 214);
    background: linear-gradient(rgb(24, 104, 206) 0%, rgb(14, 96, 203) 12%, rgb(14, 96, 203) 20%, rgb(17, 100, 207) 32%, rgb(22, 103, 207) 33%, rgb(27, 108, 211) 47%, rgb(30, 112, 217) 54%, rgb(36, 118, 220) 60%, rgb(41, 122, 224) 65%, rgb(52, 130, 227) 77%, rgb(55, 134, 229) 79%, rgb(66, 142, 233) 90%, rgb(71, 145, 235) 100%);;
    height: 54px;

}
#menu-turn-off-icon{
    height: 100%;
    
}

#menu-profile-image{
    width: 42px;
    height: 42px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
}
#start-menu-right{
    background-color: #D3E5FB;
    border-left-style: solid;
    border-left-width: 0.25px;
    border-left-color: blue;
    
    
}

.app-icon{
    width: 30px;
    height: 30px;
}

.card-body{
    padding: 1px;
}
#user-name{
    font-size: 14px;
    color: white;
}

.extend-icon{
    height: 18px;
}

.divider{
        height: 7.5px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 100%) content-box;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

.menu-item{
    margin-top: 4px;
    margin-bottom: 4px;
    cursor: initial;
}


.menu-item:hover{
    margin-top: 4px;
    margin-bottom: 4px;
    background-color: #2F71CD;
    color: white;
    cursor: initial;
}

#right-bar{
    background: linear-gradient(rgb(12, 89, 185) 1%, rgb(19, 158, 233) 6%, rgb(24, 181, 242) 10%, rgb(19, 155, 235) 14%, rgb(18, 144, 232) 19%, rgb(13, 141, 234) 63%, rgb(13, 159, 241) 81%, rgb(15, 158, 237) 88%, rgb(17, 155, 233) 91%, rgb(19, 146, 226) 94%, rgb(19, 126, 215) 97%, rgb(9, 91, 201) 100%);
    height: 100%;
    align-items: center;
    color: white;
    padding-right: 15px;
    padding-left: 15px;
}


.right-menu-item{
    cursor: initial;
    padding-top: 3px;
    font-weight: 700;
    color: rgb(0, 19, 107);
}
.right-menu-item>.d-flex>.col-3>img{
    width: 22px;
    height: 22px;
}


.right-menu-item:hover{
    
    background-color: #2F71CD;
    color: white;
    cursor: initial;
}

#bottom-item{
    align-items: stretch;
}